@charset "utf-8";
$size:100%;
$h:494px;
#footer {
    width: $size;
    height: $h;
    border-top: 1px solid #ebebeb;
    background-color: #fcfcfc;
    .footer-wrap {
        height: 498px;
    }
}

.footer-vip {
    overflow: hidden;
    li {
        float: left;
        .footer-v2 {
            display: block;
            margin-top: 30px;
            margin-right: 38px;
            margin-left: 10px;
            width: 72px;
            height: 75px;
            font-size: 0px;
            text-indent: -100%;
            background: url(../images/footer_common.png) no-repeat;
        }
        .qqlx {
            background-position: 0 0;
        }
        .zphy {
            background-position: -123px 0;
        }
        .qqzc {
            background-position: -245px 0px;
        }
        .zycc {
            background-position: -369px 0px;
        }
        .rcjy {
            background-position: -492px 0px;
        }
        .zpbx {
            background-position: -615px 0px;
        }
        .wyth {
            background-position: -738px 0px;
        }
        .wqxl {
            background-position: -859px 0px;
        }
    }
}

.footer-list {
    line-height: 20px;
    overflow: hidden;
    margin: 37px 0px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .link {
        width: 145px;
        height: 150px;
        padding-left: 16px;
        border-right: 1px solid rgb(224, 224, 224);
        dt {
            margin-bottom: 4px;
            color: rgb(77, 77, 77);
            font-size: 12px;
            line-height: 20px;
        }
        dd {
            padding-left: 8px;
            background: url(../images/footer-hash.png)-6px -494px no-repeat;
            transition: margin-left .2s;
            a {
                color: grey;
                font-size: 12px;
                line-height: 20px;
            }
            // & 父级
            &:hover {
                margin-left: 5px;
                background: url(../images/footer-hash.png)-6px -513px no-repeat;
                a {
                    color: #f10180;
                }
            }
        }
    }
}

.footer-infor {
    width: $size;
    height: 118px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    .footer-infor-link {
        background: #d7237e;
        line-height: 30px;
        a {
            margin-left: 2px;
            margin-right: 2px;
            color: #fff;
        }
    }
    .footer-infor-txt {
        color: #999;
        margin: 14px 0;
        line-height: 20px;
        a {
            color: grey;
            text-decoration: none;
            img {
                display: inline-block;
                vertical-align: middle;
                margin-right: 3px;
            }
        }
        a:hover {
            color: #f10180;
        }
    }
}

.footer-ft {
    margin: 0 auto;
    width: 960px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    a {
        display: inline-block;
        i {
            display: inline-block;
            margin-right: 9px;
            height: 40px;
            background: url(../images/footer-hash.png) no-repeat;
        }
        .pic1 {
            width: 105px;
            background-position: 0 0;
        }
        .pic2 {
            width: 99px;
            background-position: 0 -150px;
        }
        .pic3 {
            width: 76px;
            background: url(../images/footer_no.png) no-repeat;
        }
        .pic4 {
            width: 70px;
            background-position: 0 -250px;
        }
        .pic5 {
            width: 75px;
            background-position: 0 -300px;
        }
        .pic6 {
            width: 76px;
            background-position: 0 -400px;
        }
        .pic7 {
            width: 76px;
            background-position: 0 -450px;
        }
    }
}