@charset "utf-8";
$size:100%;
$h:100px;
#head {
    width: $size;
    height: $h;
    .head-wrap {
        height: $h;
    }
}

.head-logo {
    width: 160px;
    height: $h;
    a {
        width: $size;
        height: $h;
        img {
            width: $size;
            height: $size;
        }
    }
}

.c-service {
    width: 304px;
    height: $h;
    display: flex;
    justify-content: space-between;
    a {
        width: 304px;
        height: $h;
        img {
            width: $size;
            height: $size;
        }
    }
}

.head-cart {
    width: 96px;
    background: chartreuse;
    z-index: 9;
    margin: 33px 0 0 15px;
    .tool {
        padding-right: 33px;
        padding-left: 25px;
        width: 36px;
        height: 32px;
        line-height: 32px;
        cursor: pointer;
        border: 1px solid #ccc;
        background: #f6f7f9;
        border-radius: 2px;
        position: relative;
        .ico-bag {
            background-image: url(../images/index.png);
            background-position: 0 -208px;
            width: 12px;
            height: 17px;
            position: absolute;
            top: 8px;
            left: 8px;
        }
        .gwd {
            font-size: 12px;
            color: #333;
        }
        .count {
            position: absolute;
            top: 8px;
            right: 3px;
            border-radius: 8px;
            height: 16px;
            width: 24px;
            line-height: 16px;
            color: #fff;
            text-align: center;
            background-color: #f00581;
        }
    }
}

.head-search {
    margin-top: 33px;
    width: 391px;
    .head-form {
        width: 387px;
        height: 32px;
        border: 2px solid #fa2a83;
        border-radius: 2px;
        background-color: #fff;
        position: relative;
        display: flex;
        justify-content: space-between;
        .c-input {
            padding: 2px 12px;
            width: 311px;
            height: 28px;
            line-height: 30px;
            font-size: 14px;
            color: #333;
            border: none;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            background: #fff;
        }
        .c-button {
            position: absolute;
            top: 0;
            right: 0;
            padding-top: 6px;
            display: block;
            width: 53px;
            height: 28px;
            background: #fa2a83;
            text-align: center;
            .c-icon {
                background: url(../images/index.png) no-repeat;
                background-position: -285px -104px;
                width: 19px;
                height: 22px;
                display: inline-block;
            }
        }
    }
    .hotword {
        height: 20px;
        margin: 2px;
        display: flex;
        align-items: center;
        li {
            margin-right: 6px;
            display: flex;
            justify-content: space-between;
            a {
                display: block;
                font-size: 12px;
                color: #999;
                margin-right: 6px;
            }
            span {
                font-size: 12px;
                color: #999;
            }
        }
    }
}