@charset "utf-8";
$size:100%;
html,
body {
    width: $size;
}

#loutinav {
    width: 100px;
    position: fixed;
    top: 100px;
    right: 6px;
    padding: 10px;
    background: #510008;
    display: none;
    ul li {
        height: 30px;
        line-height: 30px;
        list-style: none;
        font-size: 12px;
        text-align: center;
        position: relative;
        cursor: pointer;
        color: #fff;
        border-bottom: 1px solid hsla(0, 0%, 100%, .2);
        span {
            width: $size;
            height: 30px;
            line-height: 30px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .last {
        border-bottom: none;
    }
    .active span {
        color: #fff;
        display: block;
    }
    li:hover span {
        color: #FF9E2B;
        display: block;
    }
}

#header {
    // background: #cc6633;
    margin: 0 auto;
    font-size: 20px;
    color: #000;
}

#main {
    width: $size;
    .louceng {
        .pingou {
            width: $size;
            height: 120px;
            img {
                width: $size;
                height: $size;
            }
        }
    }
}

.list {
    font-size: 14px;
    li {
        width: 238px;
        height: 397px;
        float: left;
        margin: 5px;
        border: 1px solid #ccc;
        position: relative;
        cursor: pointer;
        p {
            height: 26px;
            line-height: 26px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 48px 22px 0;
            width: 194px;
            font-size: 16px;
            color: #333;
        }
        img {
            width: 238px;
            height: 219px;
            display: block;
        }
        .button {
            display: block;
            border: 1px solid #f10180;
            border-radius: 2px;
            margin: 16px 24px 0;
            width: 190px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            color: #f10180;
        }
    }
    li:hover {
        border: 1px solid #f10180;
    }
    li:hover .button {
        background: #f10180;
        color: #fff;
    }
}

.zhe {
    margin: 3px 25px 0 23px;
    width: 190px;
    height: 33px;
    line-height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        display: block;
        color: #f10180;
    }
    .k {
        font-size: 30px;
    }
}