@charset "utf-8";
$size:100%;
$h:43px;
#main-nav {
    width: $size;
    height: $h;
    .nav-wrap {
        height: $h;
    }
}

.nav-link {
    height: $h;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .nav-cate {
        background: #f10180;
        width: 156px;
        height: auto;
        img {
            display: inline-block;
            vertical-align: middle;
        }
        a {
            display: block;
            color: #fff;
            height: $h;
            font-size: 16px;
            padding: 0 10px;
            text-align: center;
            line-height: $h;
            span {
                display: inline-block;
                height: 32px;
            }
        }
    }
    li {
        height: $h;
        height: 43px;
        a {
            display: block;
            padding: 0 10px;
            text-align: center;
            color: #333;
            font-size: 16px;
            white-space: nowrap;
            line-height: $h;
        }
        .nav-atag {
            cursor: default;
            font-weight: 700;
            color: #f10180;
        }
        .nav-isbold {
            font-weight: 700;
        }
    }
    li:hover a {
        color: #f10180;
    }
}

.nav-cate a:hover span {
    color: white;
}

.nav-gd .iconfont {
    font-size: 12px;
}

.nav-cate:hover+.menu {
    display: block;
    z-index: 3;
}

// 二级菜单部分
.menu {
    position: absolute;
    top: 43px;
    left: 0px;
    z-index: 3;
    width: 156px;
    background: #f10180;
    display: none;
    ul li {
        text-align: center;
        a {
            font-size: 12px;
            color: #fff;
        }
    }
    li:hover {
        background: #fff;
    }
    li:hover a {
        color: #f10180;
    }
    .cartlist {
        position: absolute;
        left: 156px;
        top: 0;
        width: 900px;
        min-height: 473px;
        background: #fff;
        display: none;
        transition: top 0.3s ease;
        .item {
            padding: 20px;
            display: none;
        }
    }
}

.menu:hover {
    display: block;
}

// 更多二级菜单部分
.gd-big {
    padding-left: 3px;
}

.gd-big:hover {
    box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, .06);
    border-bottom: none;
    z-index: 5;
}

.gd-big:hover+.gd-small {
    display: block;
    z-index: 20;
}

.gd-small {
    position: absolute;
    right: 0;
    top: 43px;
    background: #fff;
    display: none;
}

.gd-small:hover {
    display: block;
    z-index: 20;
}