@charset "utf-8";
$size:100%;
#new {
    width: $size;
    .new-wrap {
        .pingou {
            width: $size;
            height: 120px;
            background: url("https://h2.appsimg.com/b.appsimg.com/upload/mst/2020/09/28/119/284ca936f8d137e733add97089f923f5.png") center top no-repeat;
        }
    }
}

.list {
    font-size: 14px;
    li {
        width: 238px;
        height: 397px;
        float: left;
        margin: 5px;
        border: 1px solid #ccc;
        position: relative;
        cursor: pointer;
        p {
            height: 26px;
            line-height: 26px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 48px 22px 0;
            width: 194px;
            font-size: 16px;
            color: #333;
        }
        img {
            width: 238px;
            height: 219px;
            display: block;
        }
        .button {
            display: block;
            border: 1px solid #f10180;
            border-radius: 2px;
            margin: 16px 24px 0;
            width: 190px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            color: #f10180;
        }
    }
    li:hover {
        border: 1px solid #f10180;
    }
    li:hover .button {
        background: #f10180;
        color: #fff;
    }
}

.zhe {
    margin: 3px 25px 0 23px;
    width: 190px;
    height: 33px;
    line-height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        display: block;
        color: #f10180;
    }
    .k {
        font-size: 30px;
    }
}