@charset "utf-8";
@import "reset";
// 公共版心
.header-wrap,
.body-wrap,
.cont-wrap {
    width: 1000px;
    margin: 0 auto;
}

$size:100%;
$h1:100px;
// header区域
#header {
    width: $size;
    height: $h1;
    .header-wrap {
        height: $h1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .c-logo-link {
            background: url(../images/login.png) no-repeat;
            background-position: -308px -57px;
            width: 125px;
            height: 100px;
            display: inline-block;
        }
    }
}

.c-service {
    background: url(../images/login.png) no-repeat;
    background-position: 0 0;
    width: 304px;
    height: 100px;
}

// body区域
$h2:650px;
#body {
    width: $size;
    height: $h2;
    background: url("https://a.vpimg2.com/upload/flow/2020/09/28/28/16012818429045.jpg") no-repeat top center;
    .body-wrap {
        background: chartreuse;
        padding: 50px 20px;
        min-height: 550px;
        .c-login {
            width: 360px;
            border-radius: 2px;
            background: #fff;
            height: 472px;
        }
    }
}

.panel-body {
    width: $size;
    height: 315px;
    background: darkcyan;
}

.panel-footer {
    width: 300px;
    height: 119px;
    background: darkorange;
    padding: 30px 30px 15px;
    .third {
        height: 40px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        .x {
            width: 120px;
            height: 1px;
            background: #e0e0e0;
        }
        span {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin: 0 10px;
            background: url(../images/login.png) no-repeat;
            background-position: -580px -161px;
        }
    }
}

// cont
$h3:76px;
#cont {
    width: $size;
    height: $h3;
    .cont-wrap {
        height: 76px;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            color: #666;
        }
    }
}